aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncio-dgram==2.1.2
attrs==21.4.0
certifi==2022.6.15
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.3
cloudscraper==1.2.60
discord.py==1.7.3
dnspython==2.2.1
idna==3.3
Js2Py==0.71
lxml==4.9.0
mcstatus==9.0.4
multidict==6.0.2
pyjsparser==2.7.1
pyparsing==3.0.9
python-aternos==1.0.5
python-dotenv==0.20.0
pytz-deprecation-shim==0.1.0.post0
regex==2022.6.2
requests==2.28.0
requests-toolbelt==0.9.1
six==1.16.0
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
websockets==10.3
yarl==1.7.2
